https://youtu.be/RvvXo2-9bnE?si=nXJxcBpgSHx6HaIq

In [1]:
num = [10,20,30,40,50]

result = 0 

for i in num:
    result += i
    
print(result)

150

In [2]:
sum(num)

150

In [3]:
from functools import reduce

In [5]:
num = [10,20,30,40,50]

result_ = reduce(lambda x,y:x+y , num)
print(result_)

150

In [8]:
num = [10,20,30,40]

for index in range(len(num)):
    print(index, num[index])

0 10
1 20
2 30
3 40

In [9]:
for index, value in enumerate(num):
    print(index, value)

0 10
1 20
2 30
3 40

In [10]:
for index, value in enumerate(num, start = 1):
    print(index, value)

1 10
2 20
3 30
4 40

In [12]:
a = [10,20,30]
b = ['a', 'b', 'c']

for index in range(len(a)):
    print(a[index], b[index])

10 a
20 b
30 c

In [13]:
a = [10, 20,30,40]
b = ["a", "b", "c"]

for index in range(len(a)):
    print(a[index], b[index])

10 a
20 b
30 c

IndexError: list index out of range

In [16]:
a = [10, 20, 30, 40]
b = ["a", "b", "c"]

for val1, val2 in zip(a,b):
    print(val1,val2)

10 a
20 b
30 c

In [25]:
import sys
sys.version

'3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]'

In [27]:
a = 'siddhi'

dict(zip(range(1,7), a))

{1: 's', 2: 'i', 3: 'd', 4: 'd', 5: 'h', 6: 'i'}

In [30]:
def palindrome():
    s = input("enter a number - ")
    
    reverse = s[::-1]
    
    if s == reverse:
        return "a palindrome"
    return "not a palindrome"

In [29]:
palindrome()

enter a number121

'a palindrome'

In [31]:
palindrome()

enter a number - madam

'a palindrome'

In [32]:
palindrome()

enter a number - 1234

'not a palindrome'

In [33]:
events = [("learn", 5), ("learn", 5), ("relaxed", 20)]

min_studied = 0

for event in events:
    if event[0] == "learn":
        min_studied += event[1]
print(min_studied)

10

In [39]:
study_time = (event[1] for event in events if event[0]=="learn")
sum(study_time)

10

In [34]:
import pandas as pd

In [35]:
df = pd.DataFrame(events, columns= ["event", "time"])

In [36]:
df

     event  time
0    learn     5
1    learn     5
2  relaxed    20

In [38]:
df[df['event'] == "learn"].sum()

event    learnlearn
time             10
dtype: object

In [40]:
# use itertools

In [46]:
lines = ["line1", "line2", "line3", "line4", "line5", "line6", "line7", "line8", "line9", "line10"]

In [50]:
for i, line in enumerate(lines):
    if i>= 4:
        break
    print(line)

line1
line2
line3
line4

In [51]:
lines[::2]

['line1', 'line3', 'line5', 'line7', 'line9']

In [52]:
lines[::-1]

['line10',
 'line9',
 'line8',
 'line7',
 'line6',
 'line5',
 'line4',
 'line3',
 'line2',
 'line1']

In [53]:
lines[:5]

['line1', 'line2', 'line3', 'line4', 'line5']

In [54]:
from itertools import islice

first_5_lines = islice(lines, 5)

for line in first_5_lines:
    print(line)

line1
line2
line3
line4
line5

In [55]:
from itertools import islice

first_5_lines = islice(lines,1, 5)

for line in first_5_lines:
    print(line)

line2
line3
line4
line5

In [56]:
from itertools import islice

first_5_lines = islice(lines,1, 5,2)

for line in first_5_lines:
    print(line)

line2
line4

In [60]:
data = 'ABCDEFG'

for i in range(len(data) - 1):
    print(data[i], data[i+1])

A B
B C
C D
D E
E F
F G

In [62]:
for item in [1,2,4,-1,4,1]:
    if item >=0:
        print(item)
    else:
        break

1
2
4

In [64]:
for item in [1,2,4,-1,4,1]:
    if item >=0:
        print(item)

1
2
4
4
1

In [65]:
from itertools import takewhile

In [66]:
items = takewhile(lambda x: x>=0, [1,2,4,-1,4,1])

for item in items:
    print(item)

1
2
4

In [67]:
import numpy as np

a = [1,2,3]
b = [4,5,6]

result = 0

for val1, val2 in zip(a,b):
    result += val1 * val2
print(result)

32

In [73]:
import numpy as np

a = [1,2,3]
b = [4,5,6]

result = 0

for val1, val2 in zip(a,b):
    print(val1 * val2)

4
10
18

In [77]:
np.dot(a,b)

32

In [78]:
n = 100_000_000
def sum_python():
    return sum(range(n))

In [79]:
def sum_numpy():
    return np.sum(np.arange(n))

In [80]:
sum_python()

4999999950000000

In [81]:
sum_numpy()

887459712

In [82]:
import timeit

In [83]:
print("sum python: ", timeit.timeit(sum_python, number= 1))
print("sum numpy: ", timeit.timeit(sum_numpy, number= 1))

sum python:  4.958669400000872
sum numpy:  0.2702554000006785

In [6]:
a = [1,2,3]

In [9]:
b = list(map(lambda x:x * 5, a))

In [10]:
b

[5, 10, 15]

In [11]:
string1 = "siddhi"
string2 = "vinit"

In [12]:
set(string1).intersection(set(string2))

{'i'}

In [13]:
list_1 = [1,2,3]
list_2 = [4,5,6]

In [19]:
list_1 + list_2

[1, 2, 3, [4, 5, 6], [4, 5, 6], 4, 5, 6]

In [20]:
list_1 = [1,2,3]
list_2 = [4,5,6]

In [22]:
list_1.extend(list_2)

In [23]:
list_1

[1, 2, 3, 4, 5, 6]

In [26]:
list_1 = [1,2,3]
list_2 = [4,5,6]

In [27]:
for i in list_2:
    list_1.append(i)

In [28]:
list_1

[1, 2, 3, 4, 5, 6]

In [48]:
def secondlargestnumber(num):
    num = list(set(num))
    num = sorted(num)
    sln = num[-2]
    return sln

In [44]:
array = [10,2,30,4,30,5,6]

In [49]:
secondlargestnumber(array)

10

In [63]:
import pandas as pd

In [83]:
b = pd.Series(array)

In [84]:
b

0    10
1     2
2    30
3     4
4    30
5     5
6     6
dtype: int64

In [85]:
b.nlargest(1)

2    30
dtype: int64

In [71]:
a.nlargest(2)

2    30
4    30
dtype: int64

In [77]:
a.drop_duplicates(inplace = True)

In [78]:
a.nlargest(3)

2    30
0    10
6     6
dtype: int64

In [86]:
secondlargestnumber(b)

10