https://www.programiz.com/python-programming/variables-datatypes

https://www.programiz.com/python-programming/operators

https://www.programiz.com/python-programming/modules/random

https://docs.python.org/3/library/random.html

**Python Variables**

In [1]:
a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

In [2]:
x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

In [3]:
a = 0b1010    #Binary Literals
b = 100       #Decimal Literal 
c = 0o310     #Octal Literal
d = 0x12c     #Hexadecimal Literal
 
#Float Literal
float_1 = 10.5 
float_2 = 1.5e3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 300
10.5 1500.0
3.14j 3.14 0.0

In the above program,

We assigned integer literals into different variables. Here, a is binary literal, b is a decimal literal, c is an octal literal and d is a hexadecimal literal.

When we print the variables, all the literals are converted into decimal values.

10.5 and 1.5e2 are floating-point literals. 

1.5e2 is expressed with exponential and is equivalent to 1.5 * 10^3.

We assigned a complex literal i.e 3.14j in variable x. 

Then we use imaginary literal (x.imag) and real literal (x.real) to create imaginary and real parts of complex numbers.

In [4]:
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
C
This is a multiline string with more than one line code.
Ünicöde
raw \n string

In the above program, This is Python is a string literal and C is a character literal.

The value in triple-quotes """ assigned to the multiline_str is a multi-line string literal.

The string u"\u00dcnic\u00f6de" is a Unicode literal which supports characters other than English. In this case, \u00dc represents Ü and \u00f6 represents ö.

r"raw \n string" is a raw string literal.

In [5]:
x = (1 == True)
y = (1 == False)
a = True + 4
b = False + 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 5
b: 10

In [6]:
drink = "Available"
food = None

def menu(x):
    if x == drink:
        print(drink)
    else:
        print(food)

menu(drink)
menu(food)

Available
None

In [7]:
fruits = ["apple", "mango", "orange"] #list
numbers = (1, 2, 3) #tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'u', 'e', 'o', 'a', 'i'}

In the above program, we created a list of fruits, a tuple of numbers, a dictionary dict having values with keys designated to each value and a set of vowels.

## Data types in Python

Every value in Python has a datatype. 

Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

There are various data types in Python. Some of the important types are listed below.

### 1. Python Numbers

Integers, floating point numbers and complex numbers fall under Python numbers category. 

They are defined as int, float and complex classes in Python.

We can use the type() function to know which class a variable or a value belongs to. 

Similarly, the isinstance() function is used to check if an object belongs to a particular class.

In [8]:
a = 5
print(a, "is of type", type(a))

5 is of type <class 'int'>

In [9]:
a = 2.0
print(a, "is of type", type(a))

2.0 is of type <class 'float'>

In [10]:
a = 1+2j
print(a, "is complex number?", isinstance(a,complex))

(1+2j) is complex number? True

In [11]:
complex.__doc__

'Create a complex number from a real part and an optional imaginary part.\n\nThis is equivalent to (real + imag*1j) where imag defaults to 0.'

### 2. Python List

List is an ordered sequence of items. 

It is one of the most used datatype in Python and is very flexible. 

All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. 

Items separated by commas are enclosed within brackets [ ].

We can use the slicing operator [ ] to extract an item or a range of items from a list. The index starts from 0 in Python.

In [12]:
a = [5,10,15,20,25,30,35,40]
print("a[2] = ", a[2])

a[2] =  15

In [13]:
print("a[0:3] = ", a[0:3])

a[0:3] =  [5, 10, 15]

In [14]:
print("a[5:] = ", a[5:])

a[5:] =  [30, 35, 40]

Lists are mutable, meaning, the value of elements of a list can be altered.

In [15]:
a = [1, 2, 3, 4, 5]
a[2] = 4
print(a)

[1, 2, 4, 4, 5]

### 3. Python Tuple

Tuple is an ordered sequence of items same as a list. 

The only difference is that tuples are immutable. 

Tuples once created cannot be modified.

Tuples are used to write-protect data and are usually faster than lists as they cannot change dynamically.

It is defined within parentheses () where items are separated by commas.

In [16]:
t = (5,'program', 1+3j)

In [17]:
print("t[1] = ", t[1])

t[1] =  program

In [18]:
print("t[0:3] = ", t[0:3])

t[0:3] =  (5, 'program', (1+3j))

In [19]:
# Generates error
# Tuples are immutable
t[0] = 10

TypeError: 'tuple' object does not support item assignment

### 4. Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

In [20]:
s = "This is a string"
print(s)

This is a string

In [21]:
s = '''A multiline
string'''
print(s)

A multiline
string

Just like a list and tuple, the slicing operator [ ] can be used with strings. 

Strings, however, are immutable.

In [22]:
s = 'Hello world!'

print("s[4] = ", s[4])

s[4] =  o

In [23]:
print("s[6:11] = ", s[6:11])

s[6:11] =  world

In [24]:
s[6:]

'world!'

In [25]:
# Generates error
# Strings are immutable in Python
s[5] ='d'

TypeError: 'str' object does not support item assignment

### 5. Python Set

Set is an unordered collection of unique items. 

Set is defined by values separated by comma inside braces { }. 

Items in a set are not ordered.

In [26]:
a = {5,2,3,1,4}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

a =  {1, 2, 3, 4, 5}
<class 'set'>

We can perform set operations like union, intersection on two sets. 

Sets have unique values. 

They eliminate duplicates.

In [27]:
a = {1,2,3,1,2,3,1,3,2}
print(a)

{1, 2, 3}

Since, set are unordered collection, indexing has no meaning. 

Hence, the slicing operator [] does not work.

In [28]:
a = {1,2,3}
a[1]

TypeError: 'set' object is not subscriptable

### 6. Python Dictionary

Dictionary is an unordered collection of key-value pairs.

It is generally used when we have a huge amount of data. 

Dictionaries are optimized for retrieving data. 

We must know the key to retrieve the value.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. 

Key and value can be of any type.

In [32]:
d = {1:'value','key':2}
type(d)

dict

In [33]:
print("d[1] = ", d[1]);

d[1] =  value

In [34]:
print("d['key'] = ", d['key']);

d['key'] =  2

In [35]:
# Generates error
print("d[2] = ", d[2]);

KeyError: 2

**Conversion between data types**

In [36]:
float(5)

5.0

In [37]:
int(10.6)

10

In [38]:
int(-10.6)

-10

In [39]:
float('2.5')

2.5

In [40]:
str(25)

'25'

In [41]:
int('1p')

ValueError: invalid literal for int() with base 10: '1p'

We can even convert one sequence to another.

In [42]:
set([1,2,3])

{1, 2, 3}

In [43]:
tuple({5,6,7})

(5, 6, 7)

In [44]:
list('hello')

['h', 'e', 'l', 'l', 'o']

To convert to dictionary, each element must be a pair:

In [45]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [46]:
dict([(3,26),(4,44)])

{3: 26, 4: 44}

In [47]:
dict.__doc__

"dict() -> new empty dictionary\ndict(mapping) -> new dictionary initialized from a mapping object's\n    (key, value) pairs\ndict(iterable) -> new dictionary initialized as if via:\n    d = {}\n    for k, v in iterable:\n        d[k] = v\ndict(**kwargs) -> new dictionary initialized with the name=value pairs\n    in the keyword argument list.  For example:  dict(one=1, two=2)"

In [48]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

In [49]:
num_new

124.23

In [50]:
print("Value of num_new:",num_new)

Value of num_new: 124.23

In [51]:
print("datatype of num_new:",type(num_new))

datatype of num_new: <class 'float'>

In [52]:
num_int = 123
num_str = "456"

print(num_int+num_str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In the above program,

We add two variables num_int and num_str.

As we can see from the output, we got TypeError. 

Python is not able to use Implicit Conversion in such conditions.

However, Python has a solution for these types of situations which is known as Explicit Conversion.

In [53]:
num_int = 123
num_str = "456"

num_str = int(num_str)

num_sum = num_int + num_str

print(num_sum)

print(type(num_sum))

579
<class 'int'>

In [54]:
print(1, 2, 3, 4)
print(1, 2, 3, 4, sep='*')
print(1, 2, 3, 4, sep='#', end='&')

1 2 3 4
1*2*3*4
1#2#3#4&

**Output formatting**

In [55]:
x = 5; y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

Here, the curly braces {} are used as placeholders. 

We can specify the order in which they are printed by using numbers (tuple index).

In [56]:
print('I love {0} and {1}'.format('bread','butter'))

print('I love {1} and {0}'.format('bread','butter'))

I love bread and butter
I love butter and bread

We can even use keyword arguments to format the string.

In [57]:
print('Hello {name}, {greeting}'.format(greeting = 'Goodmorning', name = 'John'))

Hello John, Goodmorning

In [60]:
num = input('Enter a number: ')

Enter a number: 10

In [61]:
num

'10'

Here, we can see that the entered value 10 is a string, not a number.

To convert this into a number we can use int() or float() functions.

In [62]:
int('10')

10

In [63]:
float('10')

10.0

In [64]:
int('2+3')

ValueError: invalid literal for int() with base 10: '2+3'

This same operation can be performed using the eval() function. 

But eval takes it further. 

It can evaluate even expressions, provided the input is a string

In [65]:
eval('2+3')

5

## Operators in Python

### 1. Arithmetic operators in Python

In [66]:
15/4

3.75

In [67]:
15//4

3

In [68]:
15%4

3

In [69]:
15**4

50625

### 2. Comparison operators

Comparison operators are used to compare values.

It returns either True or False according to the condition.

### 3. Logical operators

Logical operators are the **and, or, not** operators.

**and** ----	True if both the operands are true

**or** ----	True if either of the operands is true

In [70]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

### 4. Bitwise operators

Bitwise operators act on operands as if they were strings of binary digits. 

They operate bit by bit, hence the name.

For example, 2 is 10 in binary and 7 is 111.

### 5. Assignment operators

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same. 

It is equivalent to a = a + 5.

In [71]:
sequence = {'p', 'a', 's', 's'}
for val in sequence:
    pass

In [72]:
sequence

{'a', 'p', 's'}

In [73]:
(1.1 + 2.2) == 3.3

False

It turns out that floating-point numbers are implemented in computer hardware as binary fractions as the computer only understands binary (0 and 1). 

Due to this reason, most of the decimal fractions we know, cannot be accurately stored in our computer.

Let's take an example. 

We cannot represent the fraction 1/3 as a decimal number. 

This will give 0.33333333... which is infinitely long, and we can only approximate it.

It turns out that the decimal fraction 0.1 will result in an infinitely long binary fraction of 0.000110011001100110011... and our computer only stores a finite number of it.

This will only approximate 0.1 but never be equal. 

Hence, it is the limitation of our computer hardware and not an error in Python.

In [74]:
1.1 + 2.2

3.3000000000000003

In [75]:
1/3

0.3333333333333333

In [76]:
import decimal

print(0.1)

print(decimal.Decimal(0.1))

0.1
0.1000000000000000055511151231257827021181583404541015625

In [77]:
from decimal import Decimal as D

print(D('1.1') + D('2.2'))

print(D('1.2') * D('2.50'))

3.3
3.000

Floating point operations are carried out must faster than Decimal operations.

**When to use Decimal instead of float?**

We generally use Decimal in the following cases.

When we are making financial applications that need exact decimal representation.

When we want to control the level of precision required.

When we want to implement the notion of significant decimal places.

In [78]:
import fractions

print(fractions.Fraction(1.5))

print(fractions.Fraction(5))

print(fractions.Fraction(1,3))

3/2
5
1/3

In [79]:
print(fractions.Fraction(1.1))

2476979795053773/2251799813685248

In [80]:
print(fractions.Fraction('1.1'))

11/10

In [81]:
from fractions import Fraction as F

print(F(1, 3) + F(1, 3))

print(1 / F(5, 6))

print(F(-3, 10) > 0)

print(F(-3, 10) < 0)

2/3
6/5
False
True

**Python Mathematics**

Python offers modules like math and random to carry out different mathematics like trigonometry, logarithms, probability and statistics, etc.

In [82]:
import math

print(math.pi)

print(math.cos(math.pi))

print(math.exp(10))

print(math.log10(1000))

print(math.sinh(1))

print(math.factorial(6))

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720

In [83]:
import random

print(random.randrange(10, 20))

x = ['a', 'b', 'c', 'd', 'e']

16

In [84]:
print(random.choice(x))

b

In [85]:
random.shuffle(x)

In [86]:
print(x)

['e', 'b', 'd', 'a', 'c']

In [87]:
# Print random element
print(random.random())

0.8637272407872971

**Python Random Module**

You can generate random numbers in Python by using random module.

Python offers random module that can generate random numbers.

These are pseudo-random number as the sequence of number generated depends on the seed.

If the seeding value is same, the sequence will be the same. 

For example, if you use 2 as the seeding value, you will always see the following sequence.

In [88]:
import random
random.seed(2)

print(random.random())
print(random.random())
print(random.random())

0.9560342718892494
0.9478274870593494
0.05655136772680869

**How to create a list?**

In Python programming, a list is created by placing all the items (elements) inside square brackets [], separated by commas.

It can have any number of items and they may be of different types (integer, float, string etc.).

In [89]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed data types
my_list = [1, "Hello", 3.4]

A list can also have another list as an item. This is called a nested list.

In [90]:
# nested list
my_list = ["mouse", [8, 4, 6], ['a']]

In [91]:
my_list

['mouse', [8, 4, 6], ['a']]

In [92]:
# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1])

a

In [93]:
print(n_list[1][3])

5

In [94]:
print(my_list[4.0])

TypeError: list indices must be integers or slices, not float

**Negative indexing**

Python allows negative indexing for its sequences. 

The index of -1 refers to the last item, -2 to the second last item and so on.

In [95]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

print(my_list[-1])

print(my_list[-5])

e
p

**How to slice lists in Python?**

We can access a range of items in a list by using the slicing operator :(colon).

In [96]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','z']

# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['p', 'r', 'o', 'g']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

We can add one item to a list using the append() method or add several items using extend() method.

In [97]:
# Appending and Extending lists in Python

odd = [1, 3, 5]

odd.append(7)

print(odd)

[1, 3, 5, 7]

In [98]:
odd.extend([9, 11, 13])

print(odd)

[1, 3, 5, 7, 9, 11, 13]

https://www.programiz.com/python-programming/list

We can also use + operator to combine two lists. This is also called concatenation.

The * operator repeats a list for the given number of times.

In [99]:
# Concatenating and repeating lists
odd = [1, 3, 5]

print(odd + [9, 7, 5])

[1, 3, 5, 9, 7, 5]

In [100]:
print(["Hello"] * 3)

['Hello', 'Hello', 'Hello']

Furthermore, we can insert one item at a desired location by using the method insert() or insert multiple items by squeezing it into an empty slice of a list.

In [101]:
# Demonstration of list insert() method
odd = [1, 9]
odd.insert(1,3)

print(odd)

[1, 3, 9]

In [102]:
odd[2:2] = [5, 7]

print(odd)

[1, 3, 5, 7, 9]

In [103]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']

In [104]:
# delete multiple items
del my_list[1:5]

In [105]:
my_list

['p', 'm']

In [106]:
# delete entire list
del my_list

In [107]:
my_list

NameError: name 'my_list' is not defined

We can use remove() method to remove the given item or pop() method to remove an item at the given index.

The pop() method removes and returns the last item if the index is not provided. This helps us implement lists as stacks (first in, last out data structure).

We can also use the clear() method to empty a list.

In [108]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

In [109]:
my_list

['r', 'o', 'b', 'l', 'e', 'm']

In [110]:
print(my_list.pop(1))

o

In [111]:
print(my_list)

['r', 'b', 'l', 'e', 'm']

In [112]:
print(my_list.pop())

m

In [113]:
my_list

['r', 'b', 'l', 'e']

In [114]:
my_list.clear()

In [115]:
my_list

[]

Finally, we can also delete items in a list by assigning an empty list to a slice of elements.

In [116]:
my_list = ['p','r','o','b','l','e','m']
my_list[2:3] = []
my_list

['p', 'r', 'b', 'l', 'e', 'm']

In [117]:
my_list[2:5] = []
my_list

['p', 'r', 'm']

In [118]:
my_list = [3, 8, 1, 6, 0, 8, 4]

In [119]:
print(my_list.index(8))

1

In [120]:
print(my_list.count(8))

2

In [121]:
my_list.sort()

In [122]:
my_list

[0, 1, 3, 4, 6, 8, 8]

In [123]:
my_list.reverse()

In [124]:
my_list

[8, 8, 6, 4, 3, 1, 0]

**List Comprehension: Elegant way to create new List**
    
List comprehension is an elegant and concise way to create a new list from an existing list in Python.

A list comprehension consists of an expression followed by for statement inside square brackets.

Here is an example to make a list with each item being increasing power of 2.

In [125]:
pow2 = [2 ** x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [127]:
pow2 = []
for x in range(10):
    pow2.append(2 ** x)

In [128]:
pow2

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [126]:
pow2 = [x ** 2 for x in range(10)]
print(pow2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [129]:
square = []

for x in range(10):
    square.append(x ** 2)

In [130]:
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

A list comprehension can optionally contain more for or if statements. 

An optional if statement can filter out items for the new list. 

Here are some examples.

In [131]:
pow2 = [2 ** x for x in range(10) if x > 5]

In [132]:
pow2

[64, 128, 256, 512]

In [133]:
odd = [x for x in range(20) if x % 2 == 1]

In [134]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [135]:
[x+y for x in ['Python ','C '] for y in ['Language','Programming']]

['Python Language', 'Python Programming', 'C Language', 'C Programming']

In [136]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

In [137]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

A tuple can also be created without using parentheses. This is known as tuple packing.

In [138]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)

(3, 4.6, 'dog')

In [139]:
# tuple unpacking is also possible
a, b, c = my_tuple

In [141]:
print(a)
print(b)
print(c)

3
4.6
dog

Creating a tuple with one element is a bit tricky.

Having one element within parentheses is not enough. 

We will need a trailing comma to indicate that it is, in fact, a tuple.

In [142]:
my_tuple = ("hello")
print(type(my_tuple))

<class 'str'>

In [143]:
my_tuple = ("hello",)
print(type(my_tuple))

<class 'tuple'>

In [144]:
my_tuple = "hello",
print(type(my_tuple))

<class 'tuple'>

In [145]:
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

In [146]:
my_tuple[0]

'p'

In [147]:
my_tuple[5]

't'

In [148]:
my_tuple[6]

IndexError: tuple index out of range

In [149]:
my_tuple[2.0]

TypeError: tuple indices must be integers or slices, not float

In [150]:
# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

In [151]:
# nested index
print(n_tuple[0][3])

s

In [152]:
print(n_tuple[1][1])

4

In [153]:
# Accessing tuple elements using slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
print(my_tuple[1:4])

# elements beginning to 2nd
print(my_tuple[:-7])

# elements 8th to end
print(my_tuple[7:])

# elements beginning to end
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [154]:
print((1, 2, 3) + (4, 5, 6))

(1, 2, 3, 4, 5, 6)

In [155]:
print(("Repeat",) * 3)

('Repeat', 'Repeat', 'Repeat')

In [156]:
print(("Repeat") * 3)

RepeatRepeatRepeat

In [157]:
print(["Repeat"] * 3)

['Repeat', 'Repeat', 'Repeat']

In [158]:
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
del my_tuple

In [159]:
my_tuple

NameError: name 'my_tuple' is not defined

**Some examples of Python tuple methods:**

In [160]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))  
print(my_tuple.index('l'))

2
3

In [161]:
# Using a for loop to iterate through a tuple

for name in ('John', 'Kate'):
    print("Hello", name)

Hello John
Hello Kate

**Advantages of Tuple over List**

Since tuples are quite similar to lists, both of them are used in similar situations. 

However, there are certain advantages of implementing a tuple over a list. 

Below listed are some of the main advantages:

We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.

Since tuples are immutable, iterating through a tuple is faster than with list. 

So there is a slight performance boost.

Tuples that contain immutable elements can be used as a key for a dictionary. 

With lists, this is not possible.

If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

**What is String in Python?**

A string is a sequence of characters.

A character is simply a symbol. For example, the English language has 26 characters.

Computers do not deal with characters, they deal with numbers (binary). 

Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0s and 1s.

This conversion of character to a number is called encoding, and the reverse process is decoding. 

ASCII and Unicode are some of the popular encodings used.

In Python, a string is a sequence of Unicode characters.

Unicode was introduced to include every character in all languages and bring uniformity in encoding. 

You can learn about Unicode from Python Unicode.

In [162]:
# defining strings in Python

# all of the following are equivalent

my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello
Hello
Hello
Hello, welcome to
           the world of Python

In [163]:
#Accessing string characters in Python
str = 'programiz'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

str =  programiz
str[0] =  p
str[-1] =  z
str[1:5] =  rogr
str[5:-2] =  am

In [170]:
# index must be in range

my_string[50]

IndexError: string index out of range

In [171]:
# index must be an integer and not float

my_string[1.5]

TypeError: string indices must be integers

**How to change or delete a string?**

Strings are immutable. 

This means that elements of a string cannot be changed once they have been assigned. 

We can simply reassign different strings to the same name.

In [172]:
my_string = 'programiz'
my_string[5] = a

TypeError: 'str' object does not support item assignment

In [173]:
my_string = 'python'
my_string

'python'

In [174]:
del my_string[1]

TypeError: 'str' object doesn't support item deletion

In [175]:
del my_string

In [176]:
my_string

NameError: name 'my_string' is not defined

In [180]:
# Python String Operations
str1 = 'Hello'
str2 ='World!'
print(str1 + ' '+str2)

Hello World!

In [181]:
str1 * 3

'HelloHelloHello'

In [186]:
# using parentheses
s = ('hello ''world')

In [187]:
s

'hello world'

In [188]:
# Iterating through a string

count = 0

for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

In [189]:
'a' in 'program'

True

In [190]:
'at' not in 'battle'

False

In [191]:
str = 'cold'

# enumerate()
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate)

list(enumerate(str) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]

In [192]:
#character count
print('len(str) = ', len(str))

len(str) =  4

**Python String Formatting**

Escape Sequence

In [199]:
print("He said," " What's there?")

He said, What's there?

In [197]:
print("He said, "What's there?"")

SyntaxError: invalid syntax (<ipython-input-197-5b2db8c64782>, line 1)

One way to get around this problem is to use triple quotes. 

Alternatively, we can use escape sequences.

An escape sequence starts with a backslash and is interpreted differently. 

If we use a single quote to represent a string, all the single quotes inside the string must be escaped. 

Similar is the case with double quotes. 

Here is how it can be done to represent the above text.

In [200]:
# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

In [201]:
print("C:\\Python32\\Lib")

C:\Python32\Lib

In [202]:
print("This is printed\nin two lines")

This is printed
in two lines

In [203]:
print("This is \x48\x45\x58 representation")

This is HEX representation

In [209]:
print("This is \x41\x42\x43\x44 representation")

This is ABCD representation

**Raw String to ignore escape sequence**

Sometimes we may wish to ignore the escape sequences inside a string. 

To do this we can place r or R in front of the string. 

This will imply that it is a raw string and any escape sequence inside it will be ignored.

In [210]:
print("This is \x61 \ngood example")

This is a
good example

In [211]:
print(r"This is \x61 \ngood example")

This is \x61 \ngood example

**The format() Method for Formatting Strings**

The format() method that is available with the string object is very versatile and powerful in formatting strings. 

Format strings contain curly braces {} as placeholders or replacement fields which get replaced.

We can use positional arguments or keyword arguments to specify the order.

In [212]:
# Python string format() method

# default(implicit) order

default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

--- Default Order ---
John, Bill and Sean

In [213]:
# order using positional argument

positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

--- Positional Order ---
Bill, John and Sean

In [214]:
# order using keyword argument

keyword_order = "{s}, {b} and {j}".format(j='John',b='Bill',s='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Keyword Order ---
Sean, Bill and John

The format() method can have optional format specifications. 

They are separated from the field name using colon. 

For example, we can left-justify <, right-justify > or center ^ a string in the given space.

We can also format integers as binary, hexadecimal, etc. and floats can be rounded or displayed in the exponent format. 

There are tons of formatting you can use. 

Visit here for all the string formatting available with the format() method.

https://www.programiz.com/python-programming/methods/string/format

In [215]:
# formatting integers

"Binary representation of {0} is {0:b}".format(12)

'Binary representation of 12 is 1100'

In [216]:
# formatting floats

"Exponent representation: {0:e}".format(1566.345)

'Exponent representation: 1.566345e+03'

In [217]:
# round off

"One third is: {0:.3f}".format(1/3)

'One third is: 0.333'

In [218]:
# string alignment

"|{:<10}|{:^10}|{:>10}|".format('butter','bread','ham')

'|butter    |  bread   |       ham|'

**Old style formatting**

We can even format strings like the old sprintf() style used in C programming language. 

We use the % operator to accomplish this.

In [58]:
x = 12.3456789
print('The value of x is %3.2f' %x)

The value of x is 12.35

In [59]:
x = 12.3456789
print('The value of x is %3.4f' %x)

The value of x is 12.3457

In [219]:
"PrOgRaMiZ".lower()

'programiz'

In [220]:
"PrOgRaMiZ".upper()

'PROGRAMIZ'

In [221]:
"This will split all words into a list".split()

['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']

In [222]:
' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string'])

'This will join all words into a string'

In [223]:
'Happy New Year'.find('ew')

7

In [224]:
'Happy New Year'.replace('Happy','Brilliant')

'Brilliant New Year'

A set is an unordered collection of items. 

Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. 

We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

In [1]:
# Different types of sets in Python

# set of integers
my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [2]:
# set of mixed datatypes

my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{'Hello', 1.0, (1, 2, 3)}

In [3]:
# set cannot have duplicates

my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

{1, 2, 3, 4}

In [4]:
# we can make set from a list

my_set = set([1, 2, 3, 2])
print(my_set)

{1, 2, 3}

In [5]:
# set cannot have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

my_set = {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

In [6]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}
print(type(a))

<class 'dict'>

In [7]:
# initialize a with set()
a = set()
print(type(a))

<class 'set'>

**Modifying a set in Python**

Sets are mutable. However, since they are unordered, indexing has no meaning.

We cannot access or change an element of a set using indexing or slicing. 

Set data type does not support it.

We can **add a single element using the add() method, and multiple elements using the update() method.**

The update() method can take tuples, lists, strings or other sets as its argument. 

In all cases, duplicates are avoided.

In [8]:
my_set = {1, 3}
print(my_set)

{1, 3}

In [9]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [10]:
# add an element

my_set.add(2)
print(my_set)

{1, 2, 3}

In [11]:
# add multiple elements

my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [12]:
# add list and set

my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [36]:
my_set.update([4, 5], {1, 6, 8}, 'hello')
print(my_set)

{1, 4, 5, 6, 8, 'e', 'l', 'h', 'o'}

**Removing elements from a set**

A particular item can be removed from a set using the methods discard() and remove().

The only difference between the two is that the discard() function leaves a set unchanged if the element is not present in the set. 

On the other hand, the remove() function will raise an error in such a condition (if element is not present in the set).

The following example will illustrate this.

In [13]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

In [14]:
# discard an element

my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [15]:
# remove an element

my_set.remove(6)
print(my_set)

{1, 3, 5}

In [16]:
# discard an element not present in my_set

my_set.discard(2)
print(my_set)

{1, 3, 5}

In [17]:
# remove an element not present in my_set, you will get an error.

my_set.remove(2)
print(my_set)

KeyError: 2

Similarly, we can remove and return an item using the pop() method.

Since set is an unordered data type, there is no way of determining which item will be popped. 

It is completely arbitrary.

We can also remove all the items from a set using the clear() method.

In [18]:
# initialize my_set

my_set = set("HelloWorld")
print(my_set)

{'r', 'W', 'H', 'e', 'o', 'l', 'd'}

In [19]:
# pop an element
print(my_set.pop())

r

In [20]:
# pop another element

my_set.pop()
print(my_set)

{'H', 'e', 'o', 'l', 'd'}

In [21]:
# clear my_set
my_set.clear()
print(my_set)

set()

**Python Set Operations**

Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. 

We can do this with operators or methods.

Let us consider the following two sets for the following operations.

**Set Union**

In [22]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

Union of A and B is a set of all elements from both sets.

Union is performed using | operator. 

Same can be accomplished using the union() method.

In [23]:
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
# use union function

A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
# use union function on B

B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

**Set Intersection**

Intersection of A and B is a set of elements that are common in both the sets.

Intersection is performed using & operator. 

Same can be accomplished using the intersection() method.

In [26]:
# Intersection of sets

# use & operator

print(A & B)

{4, 5}

In [27]:
# use intersection function on A

A.intersection(B)

{4, 5}

In [28]:
# use intersection function on B

B.intersection(A)

{4, 5}

**Set Difference**

Difference is performed using - operator. 

Same can be accomplished using the difference() method.

In [29]:
# Difference of two sets

A - B

{1, 2, 3}

In [30]:
B - A

{6, 7, 8}

In [31]:
# use difference function on A

A.difference(B)

{1, 2, 3}

In [32]:
# use difference function on B

B.difference(A)

{6, 7, 8}

**Set Symmetric Difference**

Symmetric Difference of A and B is a set of elements in A and B but not in both (excluding the intersection).

Symmetric difference is performed using ^ operator. 

Same can be accomplished using the method symmetric_difference().

In [33]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [34]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [35]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

**Python Frozenset**

Frozenset is a new class that has the characteristics of a set, but its elements cannot be changed once assigned. 

While tuples are immutable lists, frozensets are immutable sets.

Sets being mutable are unhashable, so they can't be used as dictionary keys. 

On the other hand, frozensets are hashable and can be used as keys to a dictionary.

Frozensets can be created using the frozenset() function.

This data type supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable, it does not have methods that add or remove elements.

In [37]:
# Frozensets
# initialize A and B

A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

In [38]:
A.isdisjoint(B)

False

In [39]:
A.difference(B)

frozenset({1, 2})

In [40]:
A | B

frozenset({1, 2, 3, 4, 5, 6})

In [41]:
A.add(3)

AttributeError: 'frozenset' object has no attribute 'add'

Python dictionary is an unordered collection of items. 

Each item of a dictionary has a key/value pair.

Dictionaries are optimized to retrieve values when the key is known.

In [42]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}

In [43]:
my_dict

{1: 'apple', 2: 'ball'}

In [44]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
my_dict

{'name': 'John', 1: [2, 4, 3]}

In [46]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: (2, 4, 3)}
my_dict

{'name': 'John', 1: (2, 4, 3)}

In [48]:
# using dict()
my_dict = dict({1:'apple', 2:'ball'})
my_dict

{1: 'apple', 2: 'ball'}

In [49]:
# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])
my_dict

{1: 'apple', 2: 'ball'}

In [50]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

In [51]:
print(my_dict['name'])

Jack

In [52]:
print(my_dict.get('age'))

26

In [53]:
# Trying to access keys which doesn't exist throws error
print(my_dict.get('address'))

None

In [54]:
# KeyError

print(my_dict['address'])

KeyError: 'address'

In [ ]:
# Changing and adding Dictionary Elements

my_dict = {'name': 'Jack', 'age': 26}

In [55]:
# update value
my_dict['age'] = 27

In [56]:
print(my_dict)

{'name': 'Jack', 'age': 27}

In [57]:
# add item

my_dict['address'] = 'Downtown'

In [58]:
print(my_dict)

{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [59]:
# Removing elements from a dictionary

# create a dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [60]:
# remove a particular item, returns its value

print(squares.pop(4))

16

In [61]:
squares

{1: 1, 2: 4, 3: 9, 5: 25}

In [62]:
# remove an arbitrary item, return (key,value)

print(squares.popitem())

(5, 25)

In [63]:
squares.popitem()

(3, 9)

In [64]:
squares.pop()

TypeError: pop expected at least 1 arguments, got 0

In [65]:
# remove all items
squares.clear()

In [66]:
squares

{}

In [67]:
# delete the dictionary itself
del squares

In [68]:
squares

NameError: name 'squares' is not defined

In [69]:
# Dictionary Methods
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)
marks

{'Math': 0, 'English': 0, 'Science': 0}

In [70]:
for item in marks:
    print(item)

Math
English
Science

In [77]:
for item in marks.items():
    print(item)

('Math', 0)
('English', 0)
('Science', 0)

In [74]:
marks.keys()

dict_keys(['Math', 'English', 'Science'])

In [73]:
sorted(marks.keys())

['English', 'Math', 'Science']

In [78]:
# Dictionary Comprehension

squares = {x: x*x for x in range(6)}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [79]:
# This code is equivalent to

squares = {}
for x in range(6):
    squares[x] = x*x
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [80]:
squares = {}
for x in range(6):
    squares = x*x
print(squares)

25

In [81]:
# Dictionary Comprehension with if conditional

odd_squares = {x: x*x for x in range(11) if x % 2 == 1}

print(odd_squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

**Dictionary Comprehension**

In [82]:
square_dict = dict()

for num in range(1, 11):
    square_dict[num] = num*num
    
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [83]:
# dictionary comprehension example

square_dict = {num: num*num for num in range(1, 11)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In both programs, we have created a dictionary square_dict with number-square key/value pair.

However, using dictionary comprehension allowed us to create a dictionary in a single line.

**How to use Dictionary Comprehension**

In [84]:
#item price in dollars

old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}

dollar_to_pound = 0.76

new_price = {item: value*dollar_to_pound for (item, value) in old_price.items()}

print(new_price)

{'milk': 0.7752, 'coffee': 1.9, 'bread': 1.9}

**If Conditional Dictionary Comprehension**

In [85]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

even_dict = {k: v for (k, v) in original_dict.items() if v % 2 == 0}

print(even_dict)

{'jack': 38, 'michael': 48}

**Multiple if Conditional Dictionary Comprehension**

In [86]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

new_dict = {k: v for (k, v) in original_dict.items() if v % 2 != 0 if v < 40}

print(new_dict)

{'john': 33}

In this case, only the items with an odd value of less than 40 have been added to the new dictionary.

It is because of the multiple if clauses in the dictionary comprehension. 

They are equivalent to **and operation** where both conditions have to be true.

**if-else Conditional Dictionary Comprehension**

In [87]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

new_dict_1 = {k: ('old' if v > 40 else 'young')
    for (k, v) in original_dict.items()}

print(new_dict_1)

{'jack': 'young', 'michael': 'old', 'guido': 'old', 'john': 'young'}

**Nested Dictionary Comprehension**

In [88]:
dictionary = {
    k1: {k2: k1 * k2 for k2 in range(1, 6)} for k1 in range(2, 5)
}
print(dictionary)

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10}, 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15}, 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}

So, the above code would be equivalent to:

In [89]:
dictionary = dict()

for k1 in range(11, 16):
    dictionary[k1] = {k2: k1*k2 for k2 in range(1, 6)}
    
print(dictionary)

{11: {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}, 12: {1: 12, 2: 24, 3: 36, 4: 48, 5: 60}, 13: {1: 13, 2: 26, 3: 39, 4: 52, 5: 65}, 14: {1: 14, 2: 28, 3: 42, 4: 56, 5: 70}, 15: {1: 15, 2: 30, 3: 45, 4: 60, 5: 75}}

In [90]:
# It can further be unfolded:

dictionary = dict()

for k1 in range(11, 16):
    dictionary[k1] = dict()
    
    for k2 in range(1, 6):
        dictionary[k1][k2] = k1*k2
        
print(dictionary)

{11: {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}, 12: {1: 12, 2: 24, 3: 36, 4: 48, 5: 60}, 13: {1: 13, 2: 26, 3: 39, 4: 52, 5: 65}, 14: {1: 14, 2: 28, 3: 42, 4: 56, 5: 70}, 15: {1: 15, 2: 30, 3: 45, 4: 60, 5: 75}}

All these three programs give us the same output.

**Warnings on Using Dictionary Comprehension**

Even though dictionary comprehensions are great for writing elegant code that is easy to read, they are not always the right choice.

We must be careful while using them as :

They can sometimes make the code run slower and consume more memory.

They can also decrease the readability of the code.

We must not try to fit a difficult logic or a large number of dictionary comprehension inside them just for the sake of making the code single lined. 

In these cases, It is better to choose other alternatives like loops.

In [91]:
# Membership Test for Dictionary Keys
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: True
print(1 in squares)

# Output: True
print(2 not in squares)

# membership tests for key only not value
# Output: False
print(49 in squares)

True
True
False

In [92]:
# Iterating through a Dictionary

squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

for i in squares:
    print(squares[i])

1
9
25
49
81

In [93]:
# Dictionary Built-in Functions
squares = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [94]:
squares

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [95]:
print(all(squares))

False

In [96]:
print(any(squares))

True

In [97]:
print(len(squares))

6

In [98]:
print(sorted(squares))

[0, 1, 3, 5, 7, 9]